<h2>New Post</h2>
<div>
  <form [formGroup]="newPostForm">
    <mat-form-field style="width: 100%;">
      <mat-label>Title</mat-label>
      <input matInput class="form-control" required formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <mat-label>Image</mat-label>
      <input matInput class="form-control" required placeholder="Give a link to an image" formControlName="image" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <mat-label>Text</mat-label>
      <input matInput class="form-control" required formControlName="text">
    </mat-form-field>
  </form>
</div>
<div style="display: flex; flex-direction: row-reverse;">
  <button mat-flat-button (click)="submitNewPost()" color="primary">Post</button>
</div>